

@theme {

    /* Gradients stripes vertical */
  --background-image-base-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-base-800) 0px,
    var(--color-base-800) 1px,
    transparent 1px,
    transparent 8px
  );
 
  --background-image-accent-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-accent-300) 0px,
    var(--color-accent-300) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-secondary-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-secondary-400) 0px,
    var(--color-secondary-400) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-light-vertical-stripes: 
  repeating-linear-gradient(
    to right,
    var(--color-base-300) 0px,
    var(--color-base-300) 1px,
    transparent 1px,
    transparent 8px
  );
  /* Gradients stripes horizontal */
--background-image-base-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-base-800) 0px,
    var(--color-base-800) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-secondary-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-secondary-400) 0px,
    var(--color-secondary-400) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-accent-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-accent-300) 0px,
    var(--color-accent-300) 1px,
    transparent 1px,
    transparent 8px
  );

--background-image-light-horizontal-stripes: 
  repeating-linear-gradient(
    to bottom,
    var(--color-base-300) 0px,
    var(--color-base-300) 1px,
    transparent 1px,
    transparent 8px
  );

  /* Dark mode gradient stripes vertical */
  --background-image-base-vertical-stripes-dark: 
  repeating-linear-gradient(
    to right,
    var(--color-base-700) 0px,
    var(--color-base-700) 1px,
    transparent 1px,
    transparent 8px
  );
 
  --background-image-accent-vertical-stripes-dark: 
  repeating-linear-gradient(
    to right,
    var(--color-accent-600) 0px,
    var(--color-accent-600) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-secondary-vertical-stripes-dark: 
  repeating-linear-gradient(
    to right,
    var(--color-secondary-600) 0px,
    var(--color-secondary-600) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-light-vertical-stripes-dark: 
  repeating-linear-gradient(
    to right,
    var(--color-base-300) 0px,
    var(--color-base-300) 1px,
    transparent 1px,
    transparent 8px
  );

  /* Dark mode gradient stripes horizontal */
  --background-image-base-horizontal-stripes-dark: 
  repeating-linear-gradient(
    to bottom,
    var(--color-base-700) 0px,
    var(--color-base-700) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-secondary-horizontal-stripes-dark: 
  repeating-linear-gradient(
    to bottom,
    var(--color-secondary-600) 0px,
    var(--color-secondary-600) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-accent-horizontal-stripes-dark: 
  repeating-linear-gradient(
    to bottom,
    var(--color-accent-600) 0px,
    var(--color-accent-600) 1px,
    transparent 1px,
    transparent 8px
  );

  --background-image-light-horizontal-stripes-dark: 
    repeating-linear-gradient(
      to bottom,
      var(--color-base-300) 0px,
      var(--color-base-300) 1px,
      transparent 1px,
      transparent 8px
    );
}

/* Clip path */

.clip-rect-inset {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
