---
import Text from "@/components/fundations/typography/Text.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
import Button from "@/components/fundations/buttons/Button.astro";
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message.    ",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed.       ",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient.          ",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security.              ",
  },
];
---

<section class="bg-white dark:bg-zinc-900">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-20">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 dark:gap-10">
      <div
        class="p-8 overflow-hidden bg-linear-180 outline outline-zinc-100 dark:outline-zinc-800 from-zinc-50 to-zinc-100 dark:from-zinc-800 dark:to-zinc-900 rounded-xl lg:text-balance"
      >
        <div>
          <Text
            tag="h1"
            variant="displayLG"
            class="font-semibold tracking-tight text-zinc-900 dark:text-white"
          >
            Your Questions Answered
          </Text>
          <Text
            tag="p"
            variant="textBase"
            class="mt-2 font-medium text-zinc-500 dark:text-zinc-400"
          >
            Quick answers to the most common queries about Oxbow.
          </Text>
        </div>
        <Button variant="default" size="xs" class="mt-8 w-fit">
          Contact us
        </Button>
      </div>
      <dl
        class="border-t divide-y divide-zinc-200 dark:divide-zinc-800 border-zinc-200 dark:border-zinc-80 lg:text-balance"
      >
        {
          faqs.map((faq) => (
            <>
              <div class="py-8">
                <dt>
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="font-medium text-zinc-900 dark:text-white"
                  >
                    {faq.question}
                  </Text>
                </dt>
                <dd>
                  <Text
                    tag="p"
                    variant="textBase"
                    class="mt-2 font-medium  text-zinc-500 dark:text-zinc-400"
                  >
                    {faq.answer}
                  </Text>
                </dd>
              </div>
            </>
          ))
        }
      </dl>
    </div>
  </div>
</section>
